{% extends 'baseProfile.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block body %}
	<section>
        <h2> Envoyer un Message</h2>
        <p> Reference de la Commande : <span class="fw-semibold">{{ order.reference|upper }}</span></p>
        {{ form_start(form)}}
        {{ form_row(form.objet)}}
        {{ form_row(form.message)}}
        <button class="btn btn-primary" type="submint">Envoyer</button>
        {{ form_end(form)}}
    </section>
{% endblock %}

