{% extends 'baseProfile.html.twig' %}

{% block title %}Profile !
{% endblock %}

{% block body %}
	<section>
		<h2 class=" text-center text-lg-end fs-1 mb-4 me-4 reveal">
			<i class="bi bi-person-circle"></i>
			Profile
		</h2>
		{% for message in  app.flashes('success_pass') %}

			<div class="alert alert-success alert-dismissible success fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

		{% endfor %}
		{% for message in  app.flashes('warning_pass') %}

			<div class="alert alert-warning alert-dismissible warning fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>

		{% endfor %}


		<hr class="border border-secondary border-1 mt-3 opacity-75">
		<div class="m-auto col-7">
		<p class="fs-4 fw-semibold ">Changer Votre mot de passe </p>
		{{ form_start(form)}}
		{{ form_row(form.oldPassword,{'label' : 'Votre Ancien Mot de Passe' ,'attr' :{'placeholder': 'Votre ancien mot de passe'}})}}
{{ form_row(form.newPassword,{'label' : 'Votre Nouveaux Mot de Passe' ,'attr' :{'placeholder': 'Votre nouveaux mot de passe','class' : 'input'}})}}

		<button class="btn btn-primary" type="submit"> Changer </button>
		{{ form_end(form)}}
		</div>
		<hr class="border border-secondary border-1 mt-3 opacity-75">

	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/app_input.js')}}"></script>
{% endblock %}

