{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/article/style.css')}}">
{% endblock %}


{% block body %}
<section class="container mt-5 mb-5">
<h2 style="color:#1B57A6;  font-size: 3rem;" class="text-center m-4  ">INGINUS
    <span style="color: #333">
		-
	</span>
    <span style="color:#42858C;">STORE</span>
</h2>


    <aside class="row">

        <article class="col-12 col-lg-8 h-100 p-2 border border-1 d-flex justify-content-center ">
        <img  class=" imgs figure-img img-fluid rounded" src="{{ asset('uploads/article/' ~ article.image|default('default/Drone_C1.jpg'))}}"  alt="{{ article.nom}}" >
        </article>

        <article class="col-12 mt-4  col-lg-4 mt-lg-0 h-100  p-3 border border-1  d-flex flex-column align-items-center ">
        <h3 class="text-center p-2 imgs ">Titre : {{ article.nom}} </h3>
        
        <p class="text-center p-2 imgs ">Description : {{ article.content}}</p>

        <p class="text-center p-2 fs-3 imgs ">Prix : {{ article.prix}} €</p>
        
        {% if panier[article.id] is defined  and panier[article.id]['qte'] >= article.qte  or article.qte <= 0 %}
        <p class="text-danger text-center fs-3 p-2 fw-semibold imgs">EN RUPTURE DE STOCK</p>
        {% else %}
        <p class="text-center p-2 fs-3 text-success imgs ">En Stock</p>
        {% endif %}
        
        <a class="
        {% if panier[article.id] is defined  and panier[article.id]['qte'] >= article.qte   or article.qte <= 0 %}
        disabled
        {% endif %}
        m-auto btn btn-success w-75 imgs" href="
        {% if panier[article.id] is defined  and panier[article.id]['qte'] >= article.qte or article.qte <= 0  %}
            #
        {% else %}
        {{ path('cart_add',{ id : article.id, 'origin':app.request.attributes.get('_route')} )}}
        {% endif %}
        " style=" text-shadow:none;">
            Ajouter
        </a>

        </article>
    </aside>
</section>
{% endblock %}


{% block javascripts %}
{% endblock %}