{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/home/style.css')}}">
<link rel="stylesheet" href="{{asset('css/home/style_media_tablette.css')}}">
<link rel="stylesheet" href="{{asset('css/home/style_media_mobile.css')}}">
<link rel="stylesheet" href="{{asset('css/home/style_media_mobile_xs.css')}}">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">


{% endblock %}


{% block body %}

	<section  style=" background:  linear-gradient(359deg, #0000004d, transparent), url('{{ asset('img/remote_v4_1.jpg')}}')  no-repeat;
	background-size: cover;">

	
		<h2>PRÉPAREZ-VOUS
			<br>POUR L'AVENTURE</h2>
	</section>

	<section>

		<article >

			<p class="text-white">
				Découvrez<br>
				Nos Derniers<br>
				Nouveautés
			</p>
			<a href="#">NOW</a>

		</article>

		<article style="background: linear-gradient(39deg, #2617175e, transparent),
		url('{{ asset('img/Drone_C6_1.jpg')}}') no-repeat; background-size: cover;">



            <p class="text-white">

				Professional<br>
				Drone<br>
				Solutions<br>
			</p>
		</article>
	</section>
	
	<section style="background:  url('{{ asset('/img/montagne.jpg')}}') fixed no-repeat; background-size: cover;">
		<h2><span>Nos</span> Produits</h2>
			
			<article class="container">

					<div class="row gx-5 w-100 m-auto main-carousel" data-flickity='{ "contain": true, "freeScroll": true,"autoPlay": true}'>



							{% for article in articles %}
						<div class="col-12 me-4 col-lg-3 col-md-4 col-sm-6 carousel-cell">

								<div class="card">
									<img src="{{ asset('/uploads/article/' ~ article.image|default('default/Drone_C1.jpg'))}}" height="200" style="object-fit:cover;" class="card-img-top" alt="{{ article.nom}}">
									<div class="card-body">

											<div class="infos">
												<p class="card-title">{{ article.nom }}</p>
												<p class="card-text">Prix : {{ article.prix}} €</p>
											</div>
											<div class="info">
												{% if panier[article.id] is defined  and panier[article.id]['qte'] >= article.qte  or article.qte <= 0 %}
												<p class="text-danger text-center fw-semibold ">EN RUPTURE DE STOCK</p>
												{% endif %}
											</div>
											<div class="infos">
											
												
												<a class="
												{% if panier[article.id] is defined  and panier[article.id]['qte'] >= article.qte or article.qte <= 0  %}
												isDisabled
												{% endif %}
												btn btn-success" href="{{ path('cart_add',{ id : article.id, 'origin':app.request.attributes.get('_route')} )}}" style=" text-shadow:none;">
													Ajouter
													</a>
													
													
												<a href="{{ path('article',{id : article.id})}}" class="btn btn-primary" style=" text-shadow:none;">
													Voir
												</a>
											</div>
									
									</div>
								</div>
							</div>
						{% endfor %}
						</div>
					


			</article>
				<h2><span>Nos</span> Assessoires</h2>
			
			<article class="container ">

					<div class="row gx-5 w-100 m-auto main-carousel" data-flickity='{ "contain": true, "freeScroll": true,"autoPlay": true}'>



							{% for tool in tools %}
								<div class="col-12 me-4 col-lg-3 col-md-4 col-sm-6 carousel-cell">

								<div class="card">
									<img src="{{ asset('/uploads/article/' ~ tool.image|default('default/Drone_C1.jpg'))}}" height="200" style="object-fit:cover;" class="card-img-top" alt="{{tool.nom}}">
									<div class="card-body">

											<div class="infos">
												<p style="font-size:1em" class="card-title">{{ tool.nom|slice(0,5)~'...' }}</p>
												<p class="card-text">Prix : {{ tool.prix}} €</p>
											</div>
											<div class="info">
												{% if panier[tool.id] is defined  and panier[tool.id]['qte'] >= tool.qte  or tool.qte <= 0 %}
												<p class="text-danger text-center fw-semibold ">EN RUPTURE DE STOCK</p>
												{% endif %}
											</div>
											<div class="infos">
											
												
												<a class="
												{% if panier[tool.id] is defined  and panier[tool.id]['qte'] >= tool.qte or tool.qte <= 0  %}
												isDisabled
												{% endif %}
												btn btn-success" href="{{ path('cart_add',{ id : tool.id, 'origin':app.request.attributes.get('_route')} )}}" style=" text-shadow:none;">
													Ajouter
													</a>
													
													
												<a href="{{ path('article',{id : tool.id})}}" class="btn btn-primary" style=" text-shadow:none;">
													Voir
												</a>
											</div>
									
									</div>
								</div>
							</div>
							{% endfor %}
					</div>
			</article>
			</br>
			</br>
			</br>
    </section>


{% endblock %}
{% block javascripts %}

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>



{% endblock %}