{% extends 'baseAdmin.html.twig' %}

{% block title %}Messager{% endblock %}

{% block body %}
<h1 class="p-2">
	Vos Messages
</h1>
{% for message in  app.flashes('success_message') %}

	<div class="alert alert-success alert-dismissible success fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<a href="{{path('admin')}}" class="btn btn-primary m-2">
	Articles
</a>
<a href="{{path('admin_tools')}}" class="btn btn-primary m-2">
	Accessoires
</a>
<a href="{{path('admin_order')}}" class="btn btn-primary m-2">
	Commandes
		{% if notificationOrder|length >= 1  %}
	<span class="badge text-bg-danger">
			{{ notificationOrder|length }}
	</span>
		{% endif %}
</a>
<a href="{{path('admin_messager')}}" class="btn btn-warning m-2">
	Message
	<span class="badge text-bg-secondary">{% if notificationSend|length >= 1  %} {{ notificationSend|length }}{% endif %}</span>
</a>
{% if messagers %}
<table class="table table-dark  table-striped">


		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Ref Commande</th>
				<th scope="col">Objet</th>
				<th scope="col">Date création</th>
				<th scope="col">Etat</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		
		<tbody>
			{% for messager in  messagers %}

				<tr>
					<th class="ls-lg" scope="row">{{ messager.id}}</th>
					
					<td>{{ messager.orders.reference}}</td>
					<td>{{ messager.objet}}</td>
					<td>{{ messager.createdAt|date('d-m-Y')}}</td>
					<td>{% if messager.state %} <p class="fw-semibold text-success"> Répondu </p> {% else %} <p class="fw-semibold text-primary"> En attente </p> {% endif %}</td>
					<td><a href="{{ path('admin_messager_update',{id : messager.id})}}" class="btn btn-primary"> Voir </a></td>


					{# Button CRUD #}

				</tr>
		</tbody>
	{% endfor %}

</table>
{% else %}
	<h3 class="mt-4">
		Vous n'avez pas de message pour le momment !
	</h3>
{% endif %}
{% endblock %}
