{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}

<div class="row">

	<div class="col-sm-8 h-100 p-5 text-bg-light rounded-3 border border-2 border-secondary">


		<img style="object-fit: cover;" src="{{ "/uploads/article/"~article.image}}" alt="{{ article.nom}}" class=" card-img-top p-5" width="100%" height="40%">
	</div>

	<div class="col-sm-4">
		<div class="h-100 p-5 text-bg-dark  rounded-3 ">

			<h2>{{ article.nom}}</h2>
			<p>Prix :{{ article.prix}} €</p>

			<p> Date de creation : {{ article.createDateAt|date('d-m-Y')}}</p>
			<p> Quantité restant : {{ article.qte}}
			<p> Description :{{ article.content}}</p>
	
		</div>
	</div>
</div>




{% endblock %}

