<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<link
		rel="stylesheet" href="{{asset('css/bootstrap.css')}}">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
		<link rel="stylesheet" href="{{asset('css/style_media_tablette.css')}}">
		<link rel="stylesheet" href="{{asset('css/style_media_mobile.css')}}">
		<link rel="stylesheet" href="{{asset('css/style_media_mobile_xs.css')}}">
		{% block stylesheets %}
		<style>
        @media screen and (max-width: 840px){
            .panier{
                width: 100%!important;
            }
            }
        </style>
		{% endblock %}


	</head>
	<body>

		<header class="">
			<a href="{{ path('home')}}" class="title text-decoration-none">
				<img class="img" src="{{ asset('img/Logo-drone.png')}}" alt="logo"/>
				<h1 class="ing">ING<span>INUS</span>
				</h1>
			</a>
            <div class="ms-auto p-3">
            <a href="{{ path('back_url')}}" class="btn  btn-primary">
                Retouner
            </a>
            </div>
			</nav>
		</header>
		<main>

        <div class="container mt-4 mb-4">
            <h2>Félicitation votre commande à été passé</h2>
            </br>
            <div class="rounded p-3" style="background: #f3f3f3;">
                <p> <span class="fw-semibold">Reference :</span> {{ reference }} </p>
                <p> <span class="fw-semibold">Email :</span> {{ emailLivraisson }} </p>
                
                    <div class="row d-flex justify-content-lg-between justify-content-md-between ">
                        {# Adress de livraisson #}
                        <div class="col-12 col-lg-4 col-md-4">
                            <p class="fw-bold">Votre Adresses de Livraison </p>
                            <p><span class="fw-semibold">Adresse :</span> {{ adressLivraison['line1'] }} </p>
                            {% if adressLivraison['line2']%}<p><span class="fw-semibold"> Complément : </span> {{ adressLivraison['line2']}}</p>{% endif %}
                            <p><span class="fw-semibold">Ville :</span> {{adressLivraison['city']}} </p>
                            <p><span class="fw-semibold">Code Postal :</span>{{ adressLivraison['postal_code']}}</p>
                        </div>
                        {# Adress de Facturation #}
                        <div class="col-12 col-lg-4 col-md-4">
                            <p class="fw-bold">Votre Adresses de Facturation </p>
                            <p><span class="fw-semibold">Adresse :</span> {{ adressDetail['line1'] }} </p>
                            {% if adressDetail['line2']%}<p><span class="fw-semibold"> Complément : </span> {{ adressDetail['line2']}}</p>{% endif %}
                            <p><span class="fw-semibold">Ville :</span> {{adressDetail['city']}} </p>
                            <p><span class="fw-semibold">Code Postal : </span>{{ adressDetail['postal_code']}}</p>
                        </div>

                        </div>
                        </br>
                        <aside class="w-100 m-auto rounded  mb-3 pb-2 " style="  min-height: 20vh; background: white;">
								<div class=" mb-2" style=" min-height: 2vh;background:turquoise;border-radius: 0.375rem 0.375rem 0px 0px;"></div>
								    {% for panier in app.session.get('panier')%}
                                        <div class="row p-3 border w-50 m-auto rounded mb-2 panier">
                                        <div class="col-lg-6 col-md-6 col-12 fw-semibold text-center text-md-start text-lg-start p-2">Num : <span class="fw-normal">{{ loop.index }}</span></div>
                                        <div class="col-lg-6 col-12 col-md-6 fw-semibold text-center p-2 text-md-end text-lg-end">Quatité : <span class="fw-normal">{{ panier.qte }}</span></div>
                                        <div class="col-lg-6 col-12 col-md-6 fw-semibold  text-center text-md-start text-lg-start p-2">Nom Article :<span class="fw-normal">{{ panier.article.nom }} </span> </div>
                                        <div class="col-lg-6 col-12 col-md-6  fw-semibold text-center text-md-end text-lg-end p-2">Prix : <span class="fw-normal">{{ (panier.qte * panier.article.prix)|number_format(2,',',' ') }} €</span></div>
                                        </div>
								    {% endfor%}
									<p class="fw-semibold text-center border w-50 m-auto rounded"> Total : {{ total[0]|number_format(2,',',' ') }} €</p>
						</aside>
                    
            </div>

        
</main>
<footer>
	<aside>
		<a href="#">MENTIONS LÉGALES</a>
		<a href="#">POLITIQUE EN MATIÈRE DE COOKIES</a>
		<a href="#">POLITIQUE DE CONFIDENTIALITÉ</a>
		<a href="#">CONDITIONS D'UTILISATION</a>
	</aside>

	<p class="text-center">© 2023 par INGINIUS. Créé par REZKI WISSEM</p>
</footer>


<script src="{{ asset('js/app.js')}}"></script>
<script src="{{ asset('js/app_nav.js')}}"></script></body></html>


</body>
</html>

